@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');
body {
    font-family: 'Jost', sans-serif !important;
    margin: 0;
    color: #000000;
}

.mar {
    margin: 10px;
}

.pad {
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eeeeee;
    position: fixed;
    top: 0;
    width: 100%;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #dddddd;
}
  
.active {
    background-color: #cccccc;
}